{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Search the lordaeron auction house history</h1>
	<p>Type the exact item name. (Case Insensitive)<p>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.item_search.label }}<br>
            {{ form.item_search(size=64) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form><br>
	{% if chart %}
	<div id="chart">
	<embed type="image/svg+xml" src= {{ chart|safe }} width="1200" height="800" />
	</div>
</div>
	{% endif %}
{% endblock %}