{% extends "bootstrap/base.html" %}

{% block styles %}
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/popper.min.js"></script>
{% endblock styles %}

{% block title %}
	{% if title %}{{ title }} | WoW Auction House Price History{% else %}WoW Auction House Price History{% endif %}
{% endblock title %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <a class="navbar-brand" href="/">WoW Auction House History</a>
		  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
			<span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="navbar-collapse collapse" id="navbarColor01" style="">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="warmane" aria-expanded="false">Warmane Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="warmane">
					<a class="dropdown-item" href="/warmane/Outland_Alliance">Outland Alliance</a>
					<a class="dropdown-item" href="/warmane/Outland_Horde">Outland Horde</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/warmane/Icecrown_Alliance">Icecrown Alliance</a>
					<a class="dropdown-item" href="/warmane/Icecrown_Horde">Icecrown Horde</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/warmane/Lordaeron_Alliance">Lordaeron Alliance</a>
					<a class="dropdown-item" href="/warmane/Lordaeron_Horde">Lordaeron Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="lights_hope" aria-expanded="false">Light's Hope Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="lights_hope">
					<a class="dropdown-item" href="/lights_hope/Northdale_Alliance">Northdale Alliance</a>
					<a class="dropdown-item" href="/lights_hope/Northdale_Horde">Northdale Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="sunwell" aria-expanded="false">Sunwell Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="sunwell">
					<a class="dropdown-item" href="/sunwell/Nightbane_Alliance">Nightbane Alliance</a>
					<a class="dropdown-item" href="/sunwell/Nightbane_Horde">Nightbane Horde</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" href="/sunwell/Angrathar_Alliance">Angrathar Alliance</a>
					<a class="dropdown-item" href="/sunwell/Angrathar_Horde">Angrathar Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="kronos" aria-expanded="false">Kronos Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="kronos">
					<a class="dropdown-item" href="/kronos/Kronos_III_Alliance">Kronos III Alliance</a>
					<a class="dropdown-item" href="/kronos/Kronos_III_Horde">Kronos III Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="atlantiss" aria-expanded="false">Atlantiss Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="atlantiss">
					<a class="dropdown-item" href="/atlantiss/Netherwing_Alliance">Netherwing Alliance</a>
					<a class="dropdown-item" href="/atlantiss/Netherwing_Horde">Netherwing Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="tauri" aria-expanded="false">Tauri Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="tauri">
					<a class="dropdown-item" href="/tauri/Tauri_and_Evermoon_Alliance">Tauri and Evermoon Alliance</a>
					<a class="dropdown-item" href="/tauri/Tauri_and_Evermoon_Horde">Tauri and Evermoon Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="gamerdistrict" aria-expanded="false">Gamer District Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="gamerdistrict">
					<a class="dropdown-item" href="/gamerdistrict/Echoes_Alliance">Echoes Alliance</a>
					<a class="dropdown-item" href="/gamerdistrict/Echoes_Horde">Echoes Horde</a>
				  </div>
				</li>
				<li class="nav-item dropdown">
				  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dalaran-wow" aria-expanded="false">Dalaran-WoW Realms<span class="caret"></span></a>
				  <div class="dropdown-menu" aria-labelledby="dalaran-wow">
					<a class="dropdown-item" href="/dalaran-wow/Algalon_Alliance">Algalon Alliance</a>
					<a class="dropdown-item" href="/dalaran-wow/Algalon_Horde">Algalon Horde</a>
				  </div>
				</li>
			</ul>
		  </div>
	</nav>
{% endblock navbar %}

{% block content %}
	{% block app_content %}{% endblock app_content %}
 <style>
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #375a7f;
    color: white;
    text-align: center;
}
</style>

<div class="footer">
  <p>| <a href="https://legacy-wow.com/">Legacy WoW Addons and Guides</a> | <a href="/contact">Contact</a> |</p>
</div> 
{% endblock content %}
