{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='bootstrap.min.css')}}">
{% endblock %}

{% block title %}
	{% if title %}{{ title }}{% else %}AH History{% endif %}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	  <a class="navbar-brand" href="/index">Warmane Auction House History</a>
	  <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" style="">
		<span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="navbar-collapse collapse" id="navbarColor01" style="">
		<ul class="navbar-nav mr-auto">

		  <li class="nav-item">
			<a class="nav-link" href="/Lordaeron_Horde">Lordaeron Horde</a>
		  </li>
		</ul>
	  </div>
	</nav>
	<script src="{{url_for('.static', filename='jquery.min.js')}}"></script>
	<script src="{{url_for('.static', filename='bootstrap.min.js')}}"></script>
	<script src="{{url_for('.static', filename='popper.min.js')}}"></script>
{% endblock %}


{% block content %}
	{% block app_content %}{% endblock %}
{% endblock %}
