{% extends "base.html" %}

{% block app_content %}
	<div class="container">
		<br>
		<h1>FAQ</h1>
		<p><b>Q:</b>Can I download the data somewhere?<br>
		<b>A:</b>The raw data is for sale. Expect it to cost 5 to 20 euro per dataset depending on the server. Email me if you are interested.</p>
		<p><b>Q:</b>Why are the prices not being updated anymore?<br>
		<b>A:</b>Extracting the data from private servers was not easy so it required a dedicated machine and maintenance. It started out as a small project to practice python and grew into a popular website. I am happy that so many of you enjoyed my work and I wish you good luck in Azeroth!</p>
		<h1>Contact</h1>
		<p class="lead">If you have any issues, questions or suggestions you can contact me at <a href="mailto:wowauctionhousehistory@gmail.com" >wowauctionhousehistory@gmail.com</a></p>
	</div>
{% endblock %}