{% extends "base.html" %}

{% block app_content %}
	<div class="container">
		<br>
		<h1>FAQ</h1>
		<p><b>Q:</b> Can I download the data somewhere?<br>
		<b>A:</b> Currently, I do not plan on releasing the raw data. However, you can click “Edit in Chart Studio” on the graph to view the data for a single item. Don’t use this to try and scrape the website. </p>
		<h1>Contact</h1>
		<p class="lead">If you have any issues, questions or suggestions you can contact me at <a href="mailto:wowauctionhousehistory@gmail.com" >wowauctionhousehistory@gmail.com</a></p>
	</div>
{% endblock %}