{% extends "base.html" %}

{% block app_content %}
<div class="container">
	<div class="jumbotron">
	  <h1 class="display-3">WoW Auction House History</h1>
	  <p class="lead">Browse the price history of several private World of Warcraft auction houses from <a href="https://www.warmane.com/">Warmane</a> and <a href="https://gamer-district.org//">Gamer District</a>.</p>
	  <p>This website is a personal project created with Python and SQLite and it is hosted with Flask, uWSGI and NGINX. <span class="text-warning">I am not affiliated with any of private servers featured on this website.</span></strong></p>
	  <hr class="my-4">
	  <p>Development is still in progress. Source code will be made public on GitHub eventually. </p>
	  <p class="lead">
		<a class="btn btn-primary btn-lg" href="https://github.com/ywilke" role="button">Github</a>
	  </p>
	</div>
</div>
{% endblock %}