{% extends "base.html" %}

{% block content %}
<script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
<div class="container">
	<br>
    <h1>Search the Lordaeron horde auction house history</h1>
    <form action="" method="get">
		<div class="form-group">
		  <input class="form-control" id="search" placeholder="Item" type="text" size="32" name="search">
		  <small id="t2" class="form-text text-muted">Enter the exact item name. (case-insensitive)</small>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</div>
    </form><br>
	{% if error %}
	<div class="alert alert-dismissible alert-danger">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<strong>Oops!</strong> {{ error }}
	</div>
	{% endif %}
</div>



{% if chart %}
{{ chart|safe }}
{% endif %}


{% endblock %}