{% extends "base.html" %}

{% block app_content %}
	<script src="https://cdn.plot.ly/plotly-1.35.2.min.js"></script>
	<div class="container">
		<br>
		<h1>Search the {{AH_title}}</h1>
		<form action="" method="get">
			<div class="form-group">
				<div class="row">
					<div class="col-lg-6">
						<input class="form-control" id="search" placeholder="Item" type="text" size="32" name="search" {% if value %}value="{{value}}"{% endif %} autofocus>
					</div>
					<div class="col-lg-2">
						<select class="custom-select" name="time">
							<option {% if tvalue=="30d" %}selected {% endif %}value="30d">30 days</option>
							<option {% if tvalue=="3m" %}selected {% endif %}value="3m">3 months</option>
							<option {% if tvalue=="1y" %}selected {% endif %}value="1y">1 year</option>
							<option {% if tvalue=="all" %}selected {% endif %}value="all">All time</option>
						</select>
					</div>
					<div class="col-lg-2">
						<button type="submit" class="btn btn-primary">Search</button>
					</div>
				</div>
				{% if capt %}
					{{capt.get_code()|safe}}
				{% endif %}
			</div>
		</form><br>
		
		<div class="badge badge-danger">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Prices are no longer being updated. Raw data is for sale. Please see <a href="/contact">contact page</a>.
		</div>
		
		{% if error %}
			<div class="alert alert-dismissible alert-danger">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Oops!</strong> {{ error }}
			</div>
		{% endif %}
		
		{% if suggestions %}
			<h2>Did you mean:</h2>
			<div class="row">
				<div class="col-lg-6">
					<div class="list-group">
						{% for suggestion in suggestions %}
						<a href="{{suggestion[1]}}" class="list-group-item list-group-item-action">{{suggestion[0]}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
		
		{% if stats %}
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">{{stats["item"]}}</h4>
				<div class="row">
					<div class="col-lg-2">
						<p class="card-text"><b>Last Seen: </b>{{stats["last_seen"]}}</p>
					</div>
					<div class="col-lg-3">
						<p class="card-text"><b>7 Day avg: </b>
						{% if stats["7davg"].g is ne(0) %}{{stats["7davg"].g}}<img src="{{ url_for('static', filename='gold.gif') }}">{% endif %}
						{% if stats["7davg"].s is ne(0) %}{{stats["7davg"].s}}<img src="{{ url_for('static', filename='silver.gif') }}">{% endif %}
						{% if stats["7davg"].c is ne(0) %}{{stats["7davg"].c}}<img src="{{ url_for('static', filename='copper.gif') }}">{% endif %}
						{% if stats["7davg"].na is eq(1) %}NA{% endif %}
						</p>
					</div>
					<div class="col-lg-3">
						<p class="card-text"><b>30 Day avg: </b>
						{% if stats["30davg"].g is ne(0) %}{{stats["30davg"].g}}<img src="{{ url_for('static', filename='gold.gif') }}">{% endif %}
						{% if stats["30davg"].s is ne(0) %}{{stats["30davg"].s}}<img src="{{ url_for('static', filename='silver.gif') }}">{% endif %}
						{% if stats["30davg"].c is ne(0) %}{{stats["30davg"].c}}<img src="{{ url_for('static', filename='copper.gif') }}">{% endif %}
						{% if stats["30davg"].na is eq(1) %}NA{% endif %}
						</p>
					</div>
					<div class="col-lg-3">
						<p class="card-text"><b>14 Day Low: </b>
						{% if stats["14dmin"].g is ne(0) %}{{stats["14dmin"].g}}<img src="{{ url_for('static', filename='gold.gif') }}">{% endif %}
						{% if stats["14dmin"].s is ne(0) %}{{stats["14dmin"].s}}<img src="{{ url_for('static', filename='silver.gif') }}">{% endif %}
						{% if stats["14dmin"].c is ne(0) %}{{stats["14dmin"].c}}<img src="{{ url_for('static', filename='copper.gif') }}">{% endif %}
						{% if stats["14dmin"].na is eq(1) %}NA{% endif %}
						</p>
					</div>
					<div class="col-lg-3">
						<p class="card-text"><b>Last Price: </b>
						{% if stats.last_p.g is ne(0) %}{{stats.last_p.g}}<img src="{{ url_for('static', filename='gold.gif') }}">{% endif %}
						{% if stats.last_p.s is ne(0) %}{{stats.last_p.s}}<img src="{{ url_for('static', filename='silver.gif') }}">{% endif %}
						{% if stats.last_p.c is ne(0) %}{{stats.last_p.c}}<img src="{{ url_for('static', filename='copper.gif') }}">{% endif %}
						{% if stats.last_p.na is eq(1) %}NA{% endif %}
						</p>
					</div>
				</div>
			</div>
		</div>
		<br>
		{% endif %}
	</div>

	{% if chart %}
		{{ chart|safe }}
	{% endif %}
	<style>
	.center {
	  display: block;
	  margin-left: auto;
	  margin-right: auto;
	}
	</style>
	<br>
	<a href="/contact"><img src="{{ url_for('static', filename='promo.png') }}" alt="Promote your server here?" class="center"></a>
	<br>
	<br>

{% endblock app_content %}